{
    "swagger": "2.0",
    "info": {
        "description": "This is Rhombus Exchnage rates API",
        "title": "Swagger Exchange API",
        "contact": {
            "name": "API Support",
            "email": "enormousrage@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0"
    },
    "host": "ethergram.tk:8080",
    "basePath": "/",
    "paths": {
        "/rate/{currency}": {
            "get": {
                "description": "Return exchange rate of specific currency group",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Return exchange rate of specific currency group",
                "parameters": [
                    {
                        "type": "string",
                        "description": "currency",
                        "name": "currency",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/responses.ExchangeResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "responses.ExchangeResponse": {
            "type": "object",
            "properties": {
                "rate": {
                    "type": "number"
                }
            }
        }
    }
}